<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PlexWrapped</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body>
        <div class="container">
            <div class="landing-container">
                <div class="landing">
                    <div class="holder">
                        <h1>PlexWrapped</h1>
                        <p class="sub">The year has come to an end, so let's see what your activities on Plex were. Keep in mind, getting your data might take a minute.</p>
                        <form action="/" method="post">
                            <input type="text" name="email" id="email" placeholder="example@test.com">
                            <button type="submit"><i class="fas fa-angle-right"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://kit.fontawesome.com/d57ead3aa2.js" crossorigin="anonymous"></script>
    </body>
</html>